.sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.1em; }
.sortable li span { position: absolute; margin-left: -1.3em; }
.sortable_sn { list-style-type: none; margin: 0; padding: 0; width: 80%; }
.sortable_sn li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.1em; }
.sortable_sn li span { position: absolute; margin-left: -1.3em; }
.sortable_input { width:60px; }
